// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin base-page-component-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  app-base-page {

    .page-content-wrapper, mat-sidenav.navigation-container {
      background-color: mat-color($primary, 50);

      mat-nav-list {

        a.mat-list-item.active-link {
          background-color: mat-color($primary, darker) !important;
          color: mat-color($primary, darker-contrast) !important;
        }

        a.mat-list-item:hover {
          background-color: mat-color($primary, default) !important;
          color: mat-color($primary, default-contrast) !important;
        }

        a.mat-list-item:focus {
          background-color: rgba(white, 0);
          color: mat-color($foreground, base);
        }

      }
    }

  }

}
