<mat-sidenav-container (backdropClick)="hideNav()">
  <mat-sidenav
    class="navigation-container"
    [opened]="isSideNavOpen$ | async" [mode]="sidenavMode$ | async" [fixedInViewport]="isSmall$ | async"
    (keydown.escape)="hideNav()" disableClose>
    <mat-nav-list>
      <ng-container *ngFor="let navSection of navSections$ | async; last as isLast">
        <h4 mat-subheader>{{navSection.title}}</h4>
        <a mat-list-item [routerLink]="navItem.path" routerLinkActive="active-link"
        (click)="hideNav()"
        *ngFor="let navItem of navSection.children">
          <mat-icon mat-list-icon>{{navItem.icon}}</mat-icon>
          <span matLine>{{navItem.label}}</span>
        </a>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav position="end">
    <ng-container *ngTemplateOutlet="sideContentTemplate$ | async"></ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="toolbar-content-wrapper">
        <button *ngIf="!(isSideNavOpen$ | async)" mat-icon-button (click)="showNav()"><mat-icon>menu</mat-icon></button>
        <ng-container *ngTemplateOutlet="toolbarTemplate$ | async"></ng-container>
      </div>
    </mat-toolbar>
    <div class="page-content-wrapper">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
