@import '../../../../constants';

app-base-page {

  flex: 1;
  display: flex;
  flex-direction: column;

  mat-toolbar {
    justify-content: center;
    z-index: 2;
    position: fixed;

    .toolbar-content-wrapper {
      width: 100%;
      max-width: $MAX_CONTENT_WIDTH;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  mat-sidenav-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    mat-sidenav.navigation-container {
      width: $SIDE_NAV_WIDTH;
    }

    mat-sidenav.side-content-container {
      min-width: 225px;
    }

    mat-sidenav-content.mat-drawer-content {

      flex: 1;
      display: flex;
      flex-direction: column;

      .page-content-viewport {
        flex: 1;

        .page-content-wrapper {
          display: flex;
          flex-direction: column;
          max-width: $MAX_CONTENT_WIDTH;
          min-height: 100%;
          margin: auto;

          > * {
            max-width: 100%;
          }

          &.centered {
            justify-content: center;
          }
        }
      }

    }

  }

  &.small {
    mat-toolbar, .page-content-viewport {
      padding: 8px 4px;
    }

    mat-sidenav-container {
      flex: 1 0 auto;

      mat-sidenav.side-content-container {
        width: 100%;
      }

      mat-sidenav-content .page-content-viewport {
        margin-top: 56px;
      }
    }
  }

  &.medium {
    mat-toolbar, .page-content-viewport {
      padding: 16px;
    }
  }

  &.medium, &.large {
    mat-sidenav-content .page-content-viewport {
      overflow-y: auto;
      margin-top: 64px;
    }
  }

  &.large {
    mat-toolbar {
      width: $TOOL_BAR_WIDTH_LARGE;
    }

    mat-toolbar, .page-content-viewport {
      padding: 24px;
    }
  }

}
