@import '../../../../constants';

:host {

  flex: 1;
  display: flex;
  flex-direction: column;

  mat-sidenav-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    mat-sidenav.navigation-container {
      min-width: 225px;
    }

    mat-sidenav-content {

      flex: 1;
      display: flex;
      flex-direction: column;

      mat-toolbar {
        justify-content: center;
        position: fixed;
        z-index: 2;

        .toolbar-content-wrapper {
          width: 100%;
          max-width: $MAX_CONTENT_WIDTH;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }

      .page-content-viewport {
        margin-top: 64px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .page-content-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: $MAX_CONTENT_WIDTH;

        &.centered {
          justify-content: center;
        }
      }

    }

  }

  &.small {
    mat-toolbar, .page-content-viewport {
      padding: 0 4px;
    }

    mat-sidenav-container {
      flex: 1 0 auto;

      mat-sidenav-content .page-content-viewport {
        margin-top: 56px;
      }
    }
  }

  &.medium {
    mat-toolbar, .page-content-viewport {
      padding: 0 16px;
    }
  }

  &.medium, &.large {
    mat-sidenav-content .page-content-viewport {
      overflow: auto;
    }
  }

  &.large {
    mat-toolbar, .page-content-viewport {
      padding: 0 24px;
    }
  }

}
