<app-base-page>

  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutGap="5px">
      <mat-card-title translate>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content class="login-form-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <ng-container *ngIf="(activeUser$ | async) as user; else showLogin">

        <mat-icon>account_circle</mat-icon><span>{{user.username}}</span>
        <mat-divider></mat-divider>
        <button mat-button color="accent" [disabled]="pendingRequest$ | async" (click)="logout()" translate>Logout</button>

      </ng-container>

      <ng-template #showLogin>

        <button mat-button class="google" [disabled]="pendingRequest$ | async" (click)="loginGoogle()" translate>Sign in with Google</button>

        <ng-container *ngIf="error$ | async as error">
          <mat-divider></mat-divider>
          <div class="error">{{error | errorKey | translate}}</div>
        </ng-container>

      </ng-template>
    </mat-card-content>

  </mat-card>

  <span toolbarContent>MTG Cube</span>

</app-base-page>
