:host {

  mat-card {
    margin: 10px;
    min-width: 300px;
    min-height: 200px;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    mat-divider {
      position: relative;
    }

    .login-form-container {
      flex: 1;
    }
  }
}
